<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emptyx.dao.article.ArticleDao">
    <insert id="insert" parameterType="com.emptyx.entity.article.Article">
        insert article(title,content,user_id,release_date) values (#{title},#{content},#{userId},#{releaseDate})
    </insert>
    <select id="select" resultType="com.emptyx.entity.article.Article">
        select * from article
    </select>
</mapper>