<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emptyx.dao.user.UserDao">
    <insert id="insert" parameterType="com.emptyx.entity.User">
        insert user(account,userName,password,verCode) values (#{account},#{userName},#{password},#{verCode})
    </insert>
    <select id="selectByAccount" parameterType="com.emptyx.entity.User" resultType="com.emptyx.entity.User">
        select * from user where account = #{account}
    </select>
</mapper>
